<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolyk.coolmall.mapper.TbBrandMapper">
  <resultMap id="BaseResultMap" type="com.coolyk.coolmall.entity.TbBrand">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="first_char" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, first_char
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_brand
  </select>
  <select id="searchBrand" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_brand
    <if test="name != null or firstChar != null ">
      <where>
        <if test="name != null">
            and `name` like CONCAT('%', #{name}, '%')
        </if>
        <if test="firstChar != null">
          and 'firstChar'=#{firstChar}
        </if>
      </where>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.coolyk.coolmall.entity.TbBrand">
    insert into tb_brand (id, name, first_char
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{firstChar,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.coolyk.coolmall.entity.TbBrand">
    insert into tb_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="firstChar != null">
        first_char,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null">
        #{firstChar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coolyk.coolmall.entity.TbBrand">
    update tb_brand
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null">
        first_char = #{firstChar,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coolyk.coolmall.entity.TbBrand">
    update tb_brand
    set name = #{name,jdbcType=VARCHAR},
      first_char = #{firstChar,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>